/*
	color: #e5e5e5; Background Color -  Grey
	color: #418dd9; Text Title Color - Sky Blue
	color: #4c4c4c; Text Title Color - Dark Grey
	color: #797979; Text Color       - Grey

	Dark Mode Colors

	color: #28282a; BackGround Color - Mat Black
	color: #cccccc; Text Color       - Grey
	color: #0068b3; Mat Dark Blue
*/
body{
	margin: 0px;
	padding: 0px;
}
.about{
	padding-top: 70px;
	padding-bottom: 70px;
	height: auto;
	background: #ffffff;
}
.aboutTitle{
	text-align: center;
	color: #418dd9;
	font-family: arial;
	font-size: 30px;
	font-weight: bold;
}
.aboutHeadline{
	text-align: left;
	font-family: arial;
	font-size: 30px;
	font-weight: bold;
	color: #4c4c4c;
}
.profileImage{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 70px 00px;
}
.profileImage img{
	width:250px;
	height: 250px;
	filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
}
.about .description p{
	margin-top: 20px;
	text-align: justify;
	font-family: Calibri;
	font-size: 22px;
	color: #666666;
}
.col-sm-8{
	padding: 50px 70px;
}
.downloadCV{
	margin-top: 30px;
}
.downloadBtn{
	text-align: center;
    padding: 10px 23px;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
    text-transform: uppercase;
    color: #418dd9;
	border:none;
	border-radius: 5px;
	outline: none!important;
    cursor: pointer;
    background-image: linear-gradient(315deg, #cccccc , #e5e5e5);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
}
.downloadBtn:hover{
	transition: 1s;
	background-image: linear-gradient(300deg, #e5e5e5 , #cccccc);
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
	.profileImage{
		padding: 70px 0px;
	}
	.profileImage img{
		width: 200px;
		height: 200px;
	}
}
@media(max-width: 540px){
	.aboutTitle{
		font-size: 24px;
	}
	.aboutHeadline{
		font-size: 22px;
	}
	.profileImage{
		padding: 0px;
	}
	.profileImage img{
		width: 100px;
		height: 100px;
	}
	.col-sm-8{
		padding: 10px 10%;
	}
	.description{
		font-size: 18px;
	}
	.downloadCV{
		text-align: center;
	}
}
@media(max-height: 540px){
	.col-sm-8{
		padding: 50px 0px 50px 70px;
	}
}