* {
	box-sizing: border-box;
}
/**
	color: #ffffff; white
	color: #1a1a1a; dark grey
	color: #e60039; pinkish red
**/
.about{
	height: auto;
}
.introduction{
	margin: 0px 150px 70px 150px;
}
.introduction:after{
	content: "";
	display: table;
	clear: both;
}
.aboutHeading{
	padding-top: 70px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 24px;
	color: #e60039; 
}
.title{
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 30px;
}
.nav{
	float: left;
	width: 25%;
	padding: 20px;
}
.nav img{
	margin: 35px 0px 0px 20px;
	width: 120px;
	height: 120px;
}
.description {
	float: left;
	width: 75%;
	padding: 0px 20px 20px 50px;
	font-size: 28px;
	border-style: hidden hidden hidden solid;
	border-width: 2px;
	border-color: grey;
	text-align:justify;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
	.introduction{
		margin: 0px 70px 100px 70px;
	}
	.description{
		padding: 0px 0px 0px 40px;
	}
	.nav{
		position: relative;
		left: 0px;
		top: 80px;
		padding: 0px;
	}
	.nav img{
		margin: 0px;
		padding: 0px;
	}
}
@media(max-width: 540px){
	.introduction{
		margin: 0px 40px 70px 40px;
	}
	.aboutHeading{
		padding-top: 70px;
		font-size: 18px;
	}
	.title{
		font-size: 22px;
	}
	.nav{
		text-align: center;
		width: 100%;
		padding: 0px;
	}
	.nav img{
		margin: 0px;
		padding: 0px;
		margin-top: -90px;
		width: 90px;
		height: 90px;
	}
	.description {
		margin-top: 70px;
		width: 100%;
		padding: 0px;
		font-size: 18px; 
		border: none;
	}
}
@media(max-height: 540px){
	.introduction{
		margin: 0px 30px 70px 0px;
	}
	.description{
		font-size: 22px;
		padding: 0px 0px 20px 20px;
	}
	.nav{
		padding: 0px;
		text-align: center;
	}
	.nav img{
		position: relative;
		margin: 0px; 
		width: 90px;
		height: 90px;
	}
}