.about_me {
    padding: 70px 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
    color: var(--textColorWhite);
    background: var(--secondaryBgColor);
}
.about_title {
    font-size: 64px;
    font-weight: bold;
}
.about_content {
    margin-top: 30px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}
.about_content > * {
    flex-basis: 100%;
}
.additional_info {
    padding-right: 25px;
}
.education_info {
    padding-left: 25px;
}
.additional_basic_info div {
    margin: 30px 0;
}
.my_dob,
.my_address,
.my_mail_id {
    display: flex;
    align-items: center;
}
.my_mail_id a {
    color: var(--textColorWhite);
}
.additional_basic_info img {
    width: 30px;
    margin-right: 30px;
}
.education_title {
    font-size: 20px;
    color: var(--primaryColor);
    font-weight: bold;
}
.my_pg_degree,
.my_ug_degree {
    position: relative;
    padding-left: 50px;
    border-left: 4px solid var(--primaryColor);
    margin-left: 27px;
}
.education_icon {
    position: absolute;
    left: -28px;
    width: 50px;
    height: 50px;
    background: var(--primaryColor);
    border-radius: 100%;
    padding: 11px;
}
.education_icon img {
    width: 100%;
}
.my_pg_degree {
    margin-top: 30px;
    padding-bottom: 30px;
}
.year_of_passing,
.edu_pursued_location {
    font-style: italic;
}
.selected_degree {
    color: var(--primaryColor);
    font-weight: bold;
}
@media (max-width: 1200px) {
    .about_title {
        font-size: 48px;
    }
}
@media (max-width: 992px) {
    .about_me .container {
        padding: 0 70px;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 540px) {
    .about_me .container {
        padding: 30px;
    }
    .about_content {
        flex-direction: column;
    }
    .about_title {
        font-size: 32px;
    }
    .about_content {
        font-size: 12px;
    }
    .additional_info {
        padding-right: 0px;
    }
    .education_info {
        margin-top: 30px;
        padding-left: 0;
    }
    .education_title {
        font-size: 20px;
        color: var(--primaryColor);
        font-weight: bold;
    }
}
