:root{
 
}
/*full page section*/
.bg-color-d{
  background: var(--primaryDark);
}
.bg-color-l{
  background: var(--secondaryDark);
}
/*header section*/
.bg-color-d .bars{
  color: var(--whiteColor);
}
.bg-color-d .logo{
  color: var(--whiteColor);
}
.bg-color-d .toggleBtn button{
  color: var(--whiteColor);
}
/*Slide Icon*/
.bg-color-d.slideIcon a{
  color: var(--whiteColor);
}
.bg-color-d.slideIcon a:hover{
  color: var(--primaryColor);
}
/*slider section*/
.bg-color-d.slider a{
  color: #ffffff;
}
.bg-color-d .myTitle .helloWorld{
  color: #ffffff;
}
.bg-color-d .myTitle .myName{
  color: #ffffff;
}
.bg-color-d .myTitle .myWork{
  color: #ffffff;
}
.bg-color-d .socialLink a{
  color: #ffffff;
}
.bg-color-d .socialLink a:hover{
  color: #0068b3;
}
/*about section*/
.bg-color-l .aboutHeadline{
  color: #ffffff;
}
.bg-color-l .description p{
  color: #cccccc;
}
.bg-color-l .downloadBtn{
  background-image: linear-gradient(300deg, #353538 , #3d3d40);
  /*background: #353538;*/
  color: #0068b3;
}
/*profile section*/
.bg-color-d .profileHeadline, .bg-color-d .skillsHeadline{
  color: #ffffff;
}
.bg-color-d .personalTitle{
  color: #ffffff;
}
.bg-color-d .personalDetail{
  color: #cccccc;
}
.bg-color-d .skillBorder{
  background: #353538;
}
.bg-color-d .skillPercentage{
  border: 3px #353538 solid;
  border-radius: 15px;
}
.bg-color-d .mySkills{
  border-radius: 5px;
}
.bg-color-d .skillPercentage .myPercentage{
  color: #ffffff;
}
/*education section*/
.bg-color-l .educationCard{
  background: #353538;
}
.bg-color-l .educatedYear{
  color: #cccccc;
}
.bg-color-l .educatedInstituted{
  color: #ffffff;
}
.bg-color-l .educatedPlace{
  color: #cccccc;
}
/*experience section*/
.bg-color-d .experienceCard{
  background: #353538;
}
.bg-color-d .experienceYear{
  color: #cccccc;
}
.bg-color-d .workedPosition{
  color: #ffffff;
}
/*project section*/
.bg-color-l .projectCard{
  background: #353538;
}
.bg-color-l .projectDescrption{
  color: #cccccc;
}
.bg-color-l .projectDescrption:hover{
  color: #ffffff;
}
.bg-color-l a:hover > .projectDescrption{
  color: #ffffff;
}
/*footer section*/
.bg-color-d p{
  color: #ffffff;
}
/*gallery section*/
.bg-color-l .lightBoxContainer{
  background: #353538;
}
.bg-color-l .title{
  color: #ffffff;
  background: #28282a;
  /*background-image: linear-gradient(to bottom, #000000 , transparent);*/
}
.bg-color-l .footerbottom{
  background: #28282a;
  /*background-image: linear-gradient(to top, #000000 , transparent);*/
}
.bg-color-l .photoCloseBtn:hover{
  background: #000000;
}
.bg-color-l .footerbottom a{
  color: #ffffff;
}
.bg-color-l .footerbottom a:hover{
  background: #000000;
}
.bg-color-l .footerbottom a:hover{
  background: #000000;
}