:root{
	--primaryColor: #418dd9;
	--secondaryColor: #e5e5e5;
	--darkTextColor: #4c4c4c;
	--textColor: #797979;
	--whiteColor: #ffffff;
	--blackColor: #000000;
}
.education{
	padding-top: 70px;
	padding-bottom: 70px;
	margin-left: 85px;
	height: auto;
	background: var(--whiteColor);
	transition: 0.6s;
}
.educationTitle{
	text-align: center;
	color: var(--primaryColor);
	font-family: arial;
	font-size: 30px;
	font-weight: bold;
}
.educationDetails{
	display: flex;
	margin-top: 30px;
}
.educationCardList{
	display: flex;
	justify-content: center;
	padding: 0px 30px;
}
.educationCard{
	margin-bottom: 40px;
	width: 400px;
	background: var(--secondaryColor);
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
}
.educatedYear{
	font-size: 18px;
	font-family: Calibri;
	color: var(--darkTextColor);
}
.educatedCourse{
	font-size: 24px;
	font-family: Calibri;
	color: var(--primaryColor);
}
.educatedInstituted{
	margin-top: 10px;
	font-size: 22px;
}
.educatedPlace{
	font-size: 18px;
	font-family: Calibri;
	color: var(--darkTextColor);
} 
.education .col-sm-6{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 70px;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
	.education .col-sm-6{
		padding: 20px 20px;
	}
}
@media(max-width: 540px){
	.education{
		margin-left: 0;
	}
	.educationDetails{
		margin-top: 0px;
	}
	.educationCardList{
		padding: 0 20px;
	}
	.educationCard{
		width: 100%;
	}
	.educatedYear{
		font-size: 16px;
	}
	.educatedCourse{
		font-size: 20px;
	}
	.educatedInstituted{
		font-size: 20px;
	}
}
