/*
	color: #e5e5e5; Background Color -  Grey
	color: #418dd9; Text Title Color - Sky Blue
	color: #4c4c4c; Text Title Color - Dark Grey
	color: #797979; Text Color       - Grey

	Dark Mode Colors

	color: #28282a; BackGround Color - Mat Black
	color: #cccccc; Text Color       - Grey
	color: #0068b3; Mat Dark Blue
*/
*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
}
.education{
	padding-top: 70px;
	padding-bottom: 70px;
	height: auto;
}
.educationTitle{
	text-align: center;
	color: #418dd9;
	font-family: arial;
	font-size: 30px;
	font-weight: bold;
}
.educationDetails{
	display: flex;
	margin-top: 30px;
}
.educationCard{
	width: 400px;
	background: #e5e5e5;
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow:
		0 1px 2px rgba(0,0,0,0.07), 
        0 2px 4px rgba(0,0,0,0.07), 
        0 4px 8px rgba(0,0,0,0.07), 
        0 8px 16px rgba(0,0,0,0.07),
        0 16px 32px rgba(0,0,0,0.07),
        0 32px 64px rgba(0,0,0,0.07);
}
.educatedYear{
	font-size: 18px;
	font-family: Calibri;
	color: #808080;
}
.educatedCourse{
	font-size: 24px;
	font-family: Calibri;
	color: #418dd9
}
.educatedInstituted{
	margin-top: 10px;
	font-size: 22px;
}
.educatedPlace{
	font-size: 18px;
	font-family: Calibri;
	color: #808080;
} 
.education .col-sm-6{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 70px;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
	.education .col-sm-6{
		padding: 20px 20px;
	}
}
@media(max-width: 540px){
	.educationDetails{
		margin-top: 0px;
	}
	.educationCard{
		width: 100%;
	}
	.educatedYear{
		font-size: 16px;
	}
	.educatedCourse{
		font-size: 20px;
	}
	.educatedInstituted{
		font-size: 20px;
	}
	.education .col-sm-6{
		padding: 20px;
	}
}
