/*
	color: #e5e5e5; Background Color -  Grey
	color: #418dd9; Text Title Color - Sky Blue
	color: #4c4c4c; Text Title Color - Dark Grey
	color: #797979; Text Color       - Grey

	Dark Mode Colors

	color: #28282a; BackGround Color - Mat Black
	color: #cccccc; Text Color       - Grey
	color: #0068b3; Mat Dark Blue
*/
.experience{
	padding-top: 70px;
	padding-bottom: 70px;
	margin-left: 85px;
	height: auto;
	background: var(--secondaryColor);
	transition: 0.6s;
}
.experience .container{
	padding: 0px 5%;
}
.experienceTitle{
	text-align: center;
	color: #418dd9;
	font-family: arial;
	font-size: 30px;
	font-weight: bold;
}
.experienceSection{
	border-left: 2px solid #418dd9;
	padding-left: 50px;
	margin-top: 30px;
}
.experienceSection .item{
	position: relative;
	padding-top: 10px;
	margin-bottom: 30px;
}
.experience .experienceIcon{
	position: absolute;
	top: 15px;
	left: 0px;
	font-size: 20px;
	background: #418dd9;
	border-radius: 50%;
	padding: 15px;
	color: #ffffff;
	margin-left: -75px;
}
.experienceYear{
	font-size: 18px;
	font-family: Calibri;
	color: #808080;
}
.workedCompanyName{
	font-size: 24px;
	font-family: Calibri;
	color: #418dd9;
}
.workedPosition{
	margin-top: 10px;
	font-size: 22px;
	font-family: Calibri;
	color: #666666;
}
.workedPosition a{
	text-decoration: none;
	color: #418dd9;
}
.experience .col-sm-6{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
}
@media(max-width: 540px){
	.experience{
		margin-left: 0;
	}
	.experience .container{
		padding: 30px;
	}
	.experienceSection{
		padding-left: 30px;
	}
	.experience .experienceIcon{
		margin-left: -50px;
		font-size: 18px;
		padding: 10px;
	}
	.experienceTitle{
		font-size: 26px;
	}
	.experienceYear{
		font-size: 16px;
	}
	.workedCompanyName{
		font-size: 20px;
	}
	.workedPosition{
		font-size: 18px;
	}
}