.experience_page {
    background: var(--secondaryBgColor);
    color: var(--textColorWhite);
    padding: 70px 0;
}
.experience_title {
    font-size: 64px;
    font-weight: bold;
}
.experience_content {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
}
.experience_content > * {
    flex-basis: 100%;
}
.working_image {
    padding-left: 30px;
    display: flex;
    justify-content: center;
}
.working_image img {
    width: 500px;
    height: 500px;
    aspect-ratio: 1/1;
}
.experience_description {
    font-size: 18px;
}
.company_experiences {
    font-size: 16px;
}
.company_details {
    position: relative;
    margin-top: 30px;
    padding-left: 50px;
    margin-left: 25px;
    border-left: 4px solid var(--primaryColor);
}
.experience_icon {
    position: absolute;
    left: -28px;
    width: 50px;
    height: 50px;
    background: var(--primaryColor);
    border-radius: 100%;
    padding: 11px;
}
.experience_icon img {
    width: 100%;
}
.company_duration,
.company_location {
    font-style: italic;
}
.designation_in_company {
    font-weight: bold;
    color: var(--primaryColor);
}
.company_responsibilities {
    padding-bottom: 20px;
}
@media (max-width: 1200px) {
    .experience_title {
        font-size: 48px;
    }
}
@media (max-width: 992px) {
    .experience_page .container {
        padding: 0 70px;
    }
    .experience_content {
        flex-direction: column;
    }
    .working_image img {
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 540px) {
    .experience_page .container {
        padding: 0 30px;
    }
    .experience_title {
        font-size: 32px;
    }
    .working_image {
        padding-left: 0px;
    }
    .working_image img {
        width: 250px;
        height: 250px;
    }
    .experience_description {
        font-size: 12px;
    }
    .company_experiences {
        font-size: 11px;
    }
}
