/*
	color: #e5e5e5; Background Color -  Grey
	color: #418dd9; Text Title Color - Sky Blue
	color: #4c4c4c; Text Title Color - Dark Grey
	color: #797979; Text Color       - Grey

	Dark Mode Colors

	color: #28282a; BackGround Color - Mat Black
	color: #cccccc; Text Color       - Grey
	color: #0068b3; Mat Dark Blue
*/
*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
}
.experience{
	padding-top: 70px;
	padding-bottom: 70px;
	height: auto;
	background: #e5e5e5;
}
.experienceTitle{
	text-align: center;
	color: #418dd9;
	font-family: arial;
	font-size: 30px;
	font-weight: bold;
}
.experienceDetails{
	margin-top: 30px;
}
.experienceCard{
	width: 400px;
	background: #d9d9d9;
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow:
		0 1px 2px rgba(0,0,0,0.07), 
        0 2px 4px rgba(0,0,0,0.07), 
        0 4px 8px rgba(0,0,0,0.07), 
        0 8px 16px rgba(0,0,0,0.07),
        0 16px 32px rgba(0,0,0,0.07),
        0 32px 64px rgba(0,0,0,0.07);
}
.experienceYear{
	font-size: 18px;
	font-family: Calibri;
	color: #808080;
}
.workedCompanyName{
	font-size: 24px;
	font-family: Calibri;
	color: #418dd9;
}
.workedPosition{
	margin-top: 10px;
	font-size: 22px;
	font-family: Calibri;
	color: #666666;
}
.experience .col-sm-6{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
	.experience .col-sm-6{
		padding: 20px 20px;
	}
}
@media(max-width: 540px){
	.experienceDetails{
		margin-top: 0px;
	}
	.experienceCard{
		width: 100%;
	}
	.experienceYear{
		font-size: 16px;
	}
	.workedCompanyName{
		font-size: 20px;
	}
	.workedPosition{
		font-size: 20px;
	}
	.experience .col-sm-6{
		padding: 20px;
	}
}
