.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	background: var(--nightColor);
	text-align: center;
	z-index: 4;
}
.footer p{
	margin: 0px;
	padding: 0;
	font-size: 1.2rem;
	color: #FFF;
}