/*
	color: #e5e5e5; Background Color -  Grey
	color: #418dd9; Text Title Color - Sky Blue
	color: #4c4c4c; Text Title Color - Dark Grey
	color: #797979; Text Color       - Grey

	Dark Mode Colors

	color: #28282a; BackGround Color - Mat Black
	color: #cccccc; Text Color       - Grey
	color: #0068b3; Mat Dark Blue
*/
body{
	margin: 0px;
	padding: 0px;
}
.gallery{
	padding-top: 70px;
	padding-bottom: 100px;
}
.galleryTitle{
	text-align: center;
	color: #418dd9;
	font-family: arial;
	font-size: 28px;
	font-weight: bold;
}
.myPhotographs .col-sm-2{
	display: flex;
	justify-content: center;
	align-items: center;
}
.photos{
	margin-top: 30px;
	width: 166px;
	height: 166px;
	border: 5px #fff solid;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.photos img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.lightBox{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,0.5);
	visibility: hidden;
}
.lightBox:target{
	visibility: visible;
	opacity: 100;
	transition: opacity 1s;
}
.lightBoxContainer{
	position: fixed;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #ffffff;
	border-radius: 5px;
	overflow: hidden;
}
.title{
	width: 100%;
	background-image: linear-gradient(to bottom, #cccccc , transparent);
}
.photoName{
	padding: 10px 20px;
}
.photoCloseBtn{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px 20px;
}
.photoCloseBtn:hover{
	background: #e5e5e5;
}
.title a{
	text-decoration: none;
	color: red;
}
.myPhotos{
	height: 100%;
}
.footerbottom{
	position: absolute;
	bottom: 0px;
	width: 100%;
	/*background: rgba(0,0,0,0.5);*/
	background-image: linear-gradient(to top, #cccccc , transparent);
}
.leftBtn{
	float: left;
}
.rightBtn{
	float: right;
}
.lightBoxContainer img{
	width: 100%;
	height: 84%;
	object-fit: contain;
}
.footerbottom a{
	text-decoration: none;
	font-size: 24px;
	color: #000000;
}
.footerbottom a:hover{
	color: #418dd9;
	background: #000000;
}
.leftBtn{
	padding: 5px 20px;
}
.leftBtn:hover{
	background: #e5e5e5;
}
.rightBtn{
	padding: 5px 20px;
}
.rightBtn:hover{
	background: #e5e5e5;
}
@media(max-width: 1200px){
	.myPhotographs .col-sm-2{
		width: 20%;
	}
}
@media(max-width: 992px){
	.myPhotographs .col-sm-2{
		width: 25%;
	}
}
@media(max-width: 768px){
	.myPhotographs .col-sm-2{
		width: 33%;
	}
}
@media(max-width: 540px){
	.gallery{
		height: auto;
	}
	.myPhotographs .col-sm-2{
		width: 50%;
	}
}
@media(max-width: 350px){
	.myPhotographs .col-sm-2{
		width: 100%;
	}
}