/*
	color: #e5e5e5; Background Color -  Grey
	color: #418dd9; Text Title Color - Sky Blue
	color: #4c4c4c; Text Title Color - Dark Grey
	color: #797979; Text Color       - Grey

	Dark Mode Colors

	color: #28282a; BackGround Color - Mat Black
	color: #cccccc; Text Color       - Grey
	color: #0068b3; Mat Dark Blue
*/
.header{
	position: fixed;
	z-index: 1;
	width: 100%;
	background: #e5e5e5;
}
.logo{
	padding: 10px 0px;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
}
.logo a{
	text-decoration: none;
	color: #4c4c4c;
	padding: 0px 5px;
}
.logo a:hover{
	color: #418dd9;
	transition: 1s;
}
.ab{
	color: #418dd9;
}
.bars{
	padding: 0px 5px 0px 0px;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
}
.bars:hover{
	color: #418dd9;
}
.sticky{
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
}
@media(max-width: 540px){
	.bars{
		font-size: 20px;
	}
	.logo{
		font-size: 20px;
	}
}
