* {
	box-sizing: border-box;
}
/**
	color: #ffffff; white
	color: #1a1a1a; dark grey
	color: #e60039; pinkish red
**/
.header{
	position: fixed;
	display: block;
	width: 100%;
	top: 0;
	padding: 10px 16px;
	background: #1a1a1a;
	color: #f1f1f1;
}
.logo{
	color: white;
	font-family: first job;
	font-size: 24px;
	margin-left: 15px; 
}
.logo a{
	text-decoration: none;
	color: #ffffff;
}
.logoColor{
	color: #e60039;
}
.sticky {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.10);
}