.home{
	width: 100%;
	height: 100vh;
	background: var(--nightColor);
	display: flex;
	align-items: center;
}
.bgImg{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow: hidden;
}
.bgImg img{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
	filter: drop-shadow(0px 0px 10px rgba(225,225,225,0.2));
	z-index: 1;
}
.myInfo{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	line-height: 1.5;
	letter-spacing: 2px;
	z-index: 2;
	transition: 0.5s;
}
.msg{
	font-size: 2.3rem;
}
.name{
	font-size: 3.7rem;
	color: var(--primaryColor);
}
.myWork{
	font-size: 2.3rem;
}
.socialLink{
	position: absolute;
	bottom: 40px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 2;
}
.socialLink a{
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--whiteColor);
	margin: 0px 15px;
	font-weight: normal;
}
.socialLink a:hover{
	color: var(--primaryColor);
}
.bottomWave{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
	z-index: 3;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
	.bgImg img{
		bottom: -20vh;
	}
}
@media(max-width: 768px){
	.bgImg img{
		bottom: -30vh;
	}
}
@media(max-width: 540px){
	.bgImg img{
		bottom: -40vh;
	}
	.msg{
		font-size: 1.5rem;
	}
	.name{
		font-size: 3rem;
	}
	.myWork{
		font-size: 1.3rem;
	}
	.socialLink a{
		margin: 0px 10px;
	}
}
@media(max-height: 540px){
}