* {
	box-sizing: border-box;
}
/**
	color: #ffffff; white
	color: #1a1a1a; dark grey
	color: #e60039; pinkish red
**/
body { 
	margin: 0;
}
.home{
	height: 100%;
	/*background-color: #1a1a1a;*/
}
.name{	
}
.myDesc{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.helloWorld{
	text-align: center;
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	color: #e60039;
}
.myName{
	text-align: center;
	font-family: Bahnschrift;
	font-weight: bold;
	font-size: 60px;
	color: #ffffff;
}
.breakT{
	display: none;
}
.job{
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	color: #e60039;
}

.lOne{
	border-style: hidden solid hidden solid;
	padding-right: 18px;
	padding-left: 18px;
}
.lTwo{
	border-style: hidden solid hidden hidden;
	padding-right: 18px;
	padding-left: 18px;
}
.linkIcons{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.linkIcons a{
	text-decoration: none;
	font-size: 22px;
	color: #ffffff;
	padding-right: 15px;
	padding-left: 15px;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
	.lOne{
		border-style: none;
		padding: 0px;
	}
	.lTwo{
		border-style: none;
		padding: 0px;
	}
	.breakT{
		display: block;
	}
}
@media(max-width: 540px){
	.name{
	}
	.helloWorld{
		font-size: 22px;
	}
	.myName{
		font-size: 45px;
		padding-top: 10px;
	}
	.job{
		font-size: 22px;
		padding-top: 10px;
	}
	.lOne{
		border-style: none;
		padding: 0px;
	}
	.lTwo{
		border-style: none;
		padding: 0px;
	}
	.linkIcons{
		margin-top: 25%;
	}
	.breakT{
		display: block;
	}
	.linkIcons a{
		font-size: 18px;
		padding-right: 10px;
		padding-left: 10px;
	}
}
@media(max-height: 540px){
	.home{
		height: 760px;
	}
	.myDesc{
		top: 380px;
	}
	.helloWorld{
		font-size: 30px;
	}
	.myName{
		font-size: 50px;
	}
	.job{
		font-size: 25px;
	}
	.linkIcons{
		top: 690px;
	}
}