/*
	color: #e5e5e5; Background Color -  Grey
	color: #418dd9; Text Title Color - Sky Blue
	color: #4c4c4c; Text Title Color - Dark Grey
	color: #797979; Text Color       - Grey

	Dark Mode Colors

	color: #28282a; BackGround Color - Mat Black
	color: #cccccc; Text Color       - Grey
	color: #0068b3; Mat Dark Blue
*/
body{
	margin: 0px;
	padding: 0px;
}
.home{
	padding-top: 60px;
	height: 100vh;
	background: #e5e5e5;
	overflow: hidden;
	position: relative;
}
.myTitle{
	position: absolute;
	top: 50%;
	transform: translate(00%,-50%);
	-webkit-transform: translate(00%, -50%);
	-moz-transform: translate(00%, -50%);
	-o-transform: translate(00%, -50%);
	-ms-transform: translate(00%, -50%);
}
.helloWorld{
	font-family: Arial;
	font-size: 38px;
	font-weight: bold;
	color: #4c4c4c;
}
.myName{
	font-family: Arial;
	font-size: 50px;
	font-weight: bold;
	color: #4c4c4c;
}
.myWork{
	font-family: Arial;
	font-size: 32px;
	font-weight: bold;
	color: #4c4c4c;
}
.job{
	color: #418dd9;
}
.socialLink{
	position: absolute;
	bottom: 35px;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.socialLink a{
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	padding: 0px 15px;
}
.socialLink a:hover{
	color: #418dd9;
}
input:checked > .home{
  background: #28282a;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
}
@media(max-width: 540px){
	.home{
		padding-top: 0px;
	}
	.myTitle{
		padding: 0px 5%;
	}
	.helloWorld{
		font-size: 28px;
	}
	.myName{
		font-size: 35px;
	}
	.myWork{
		font-size: 24px;
	}
	.socialLink a{
		padding: 0px 12px;
	}
}
@media(max-height: 540px){
	.home{
		height: 540px;
	}
	.helloWorld{
		font-size: 25px;
	}
	.myName{
		font-size: 40px;
	}
	.myWork{
		font-size: 25px;
	}
}