.profile{
	padding-top: 70px;
	padding-bottom: 70px;
	margin-left: 85px;
	height: auto;
	background: var(--secondaryColor);
	transition: 0.6s;
}
.profileTitle{
	text-align: center;
	color: #418dd9;
	font-family: arial;
	font-size: 30px;
	font-weight: bold;
}
.personalDetails{
	margin-top: 30px;
}
.profileHeadline{
	text-align: center;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #4c4c4c;
}
.profileDescritption{
	margin-top: 30px;
}
.personalTitle{
	font-family: Calibri;
	font-size: 20px;
	font-weight: bold;
	color: #28282a;
}
.personalDetail{
	font-family: Calibri;
	font-size: 18px;
	color: #4c4c4c;
}
.personalDetail a{
	text-decoration: none;
	color: #418dd9;
}
.skillsDetails{
	margin-top: 10px;
}
.skillsHeadline{
	text-align: center;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #4c4c4c;
}
.skillsDetails{
	margin-top: 30px;
}
.skillBorder{
	position: relative;
	margin: 30px 0px;
	background: #d9d9d9;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
}
.skillPercentage{
	border: 3px #d9d9d9 solid;
	border-radius: 15px;
}
.mySkills{
	padding: 4px 15px;
	border-radius: 5px;
	background: #418dd9;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	color: #ffffff;
	font-family: Calibri;
	font-size: 18px;
}
.myPercentage{
	position: absolute;
	right: 10px;
	color: #4c4c4c;
	font-weight: bold;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
	
}
@media(max-width: 540px){
	.profile{
		margin-left: 0;
	}
	.skillsDetails{
		margin-top: 30px;
	}
}
@media(max-height: 540px){
	.profile .container{
		max-width: 540px;
	}
	.profile .col-sm-6{
		width: 100%;
	}
}	