* {
	box-sizing: border-box;
}
/**
	color: #ffffff; white
	color: #1a1a1a; dark grey
	color: #e60039; pinkish red
	color: #f7f7f7; Light Grey
	color: #808080; Medium Grey

**/
.profile{
	height: auto;
	padding-bottom: 70px;
}
.profileDetails{
	margin: 0px 150px 0px 150px;
}
.profileTitle{
	padding-top: 70px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 24px;
	color: #e60039;
}
.profileList{
	padding-top: 20px;
}
.profileList:after{
	content: "";
	display: table;
	clear: both;
}
.personalDetails{
	float: left;
	width: 50%;
}
.profileHeading{
	padding-bottom: 20px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
}
.myFullName, .myDOB, .myJob, .myMailID{
	padding-bottom: 20px;
}
.myTitle{
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
}
.myDetail{
	font-family: Arial;
	font-size: 16px;
	padding-top: 5px;
}
.programmingSkills{
	float: left;
	width: 50%;
}
.skillList{
	font-family: Arial;
	font-size: 20px;
}
.skillList ul li{
	padding-bottom: 19px;
}
@media(max-width:800px) {
	.profileDetails{
		margin: 0px 40px 0px 40px;
	}
	.profileTitle{
		font-size: 18px;
	}
	.personalDetails{
		float: left;
		width: 100%;
		padding-bottom: 20px;
	}
	.myTitle{
		font-size: 16px;
	}
	.myDetail{
		font-size: 14px;
	}
	.programmingSkills{
		float: left;
		width: 100%;
	}
	.skillList{
		font-size: 14px;
	}
@media(max-width: 500px){
	
}