.project{
	padding: 70px 0;
	height: auto;
	background: var(--secondaryBgColor);
}
.project .col-sm-6{
	display: flex;
	justify-content: center;
}
.projectCard{
	margin-bottom: 50px;
	width: 450px;
	height: auto;
	background: var(--whiteColor);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	overflow: hidden;
	transition: 0.5s;
}
.projectCard:hover{
	/*transform: scale(1.01);*/
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}
.projectCard a{
	text-decoration: none;
}
.projectImage img{
	width: 100%;
}
.projectContent{
	padding: 15px 20px;
}
.projectContent{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.usedLanguages{
	padding: 5px 0;
}
.languageName{
	margin-right: 4px;
	padding: 5px 10px;
	background: var(--primaryColor);
	opacity: 0.5;
	border-radius: 3px;
	font-size: 10px;
	letter-spacing: 1px;
	color: var(--whiteColor);
}
.projectName{
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--primaryColor);
}
.projectDescrption{
	padding-bottom: 10px;
	letter-spacing: 1px;
	color: var(--textColor);
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
}
@media(max-width: 540px){
	.projectCard{
		margin-bottom: 30px;
	}
}