.project_page {
    padding: 70px 0;
    background: var(--secondaryColor);
    color: var(--textColorWhite);
}
.project_title {
    font-size: 64px;
    font-weight: bold;
}
.project_content {
    margin-top: 30px;
}
.project_list,
.project_list_three,
.design_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-between;
    gap: 30px;
}
.project_card,
.design_card {
    max-width: 500px;
    margin-bottom: 30px;
    color: var(--textColorWhite);
}
.project_card img,
.design_card img {
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 16/9;
}
.used_language,
.used_software {
    font-size: 10px;
    margin-top: 5px;
}
.used_language span,
.used_software span {
    display: inline-block;
    padding: 3px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.project_name,
.design_name {
    font-weight: bold;
    margin: 5px 0px;
    margin-top: 15px;
}
.project_description {
    font-size: 14px;
    margin: 5px 0;
}
.view_more_prj_btn,
.view_more_design_btn {
    text-align: center;
}
.view_btn {
    margin-right: 30px;
    padding: 10px 30px;
    border: 3px solid var(--primaryColor);
    border-radius: 200px;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background: none;
    color: var(--primaryColor);
    transition: 0.3s ease-in-out;
}
.view_btn:hover {
    background: var(--primaryColor);
    color: var(--textColorWhite);
}
.design_title {
    font-size: 32px;
    font-weight: bold;
    margin: 30px 0;
}
#javascript_color {
    background: #f7df1e;
    color: #000;
}
#reactjs_color {
    background: #58c5e3;
    color: #000;
}
#nodejs_color {
    background: #689f63;
    color: #000;
}
#mongodb_color {
    background: #599636;
    color: #000;
}
#java_color {
    background: #e76f00;
    color: #000;
}
#php_color {
    background: #a0a3ca;
    color: #000;
}
#python_color {
    background: #ffd848;
    color: #000;
}
#mysql_color {
    background: #4d90ad;
    color: #000;
}
#html_color {
    background: #ec8267;
    color: #000;
}
#css_color {
    background: #2965f1;
    color: #000;
}
#wordpress_color {
    background: #01579b;
    color: #ffffff;
}
#android_color {
    background: #4190e6;
    color: #000;
}
#github_color {
    background: #000;
    color: #ffffff;
}
#figma_color {
    background: #f24e1e;
    color: #000;
}
#blender_color {
    background: #ea7600;
    color: #000;
}
#photoshop_color {
    background: #2585cc;
    color: #000;
}
#illustrator_color {
    background: #e6962f;
    color: #000;
}
#indesign_color {
    background: #ac354c;
    color: #ffffff;
}
#adobe_xd_color {
    background: #ff61f6;
    color: #000;
}
@media (max-width: 1200px) {
    .project_page .container {
        padding: 0 70px;
    }
    .project_list,
    .project_list_three,
    .design_list {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .project_card,
    .design_card {
        max-width: 400px;
    }
    .project_title {
        font-size: 48px;
    }
}
@media (max-width: 992px) {
    .project_list,
    .project_list_three,
    .design_list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .project_card,
    .design_card {
        max-width: 300px;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 540px) {
    .project_page .container {
        padding: 70px 30px;
    }
    .project_title {
        font-size: 32px;
    }
}
