* {
	box-sizing: border-box;
}
/**
	color: #ffffff; white
	color: #1a1a1a; dark grey
	color: #e60039; pinkish red
	color: #f7f7f7; Light Grey
	color: #808080; Medium Grey

**/
.resume{
	height: auto;
}
.resumeTitle{
	padding-top: 70px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 24px;
	color: #e60039;
}
.resumeContent{
	margin: 0px 150px 70px 150px;
}
.resumeDescrpition{
	text-align: center;
	font-size: 26px;
	padding: 15px;
}
.downloadCV{
	padding: 10px;
	text-align: center;
}
.downloadBtn{
	background-color: #1a1a1a;
	color: #e60039;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border: 2px solid #e60039;
	font-family: Arial;
	font-weight: bold;
}
.downloadBtn a{
	text-decoration: none;
}
.downloadBtn:hover{
	background-color: #ffffff;
}
@media(max-width: 500px){
	.resumeContent{
		margin: 0px 40px 70px 40px;
	}
	.resumeDescrpition{
		font-size: 18px;
	}
	.downloadBtn{
		font-size: 14px;
	}
}
@media(max-width:800px) {
	
}