:root{
	--primaryColor: #418dd9;
	--secondaryColor: #e5e5e5;
	--darkTextColor:#4c4c4c;
	--textColor:#797979;
	--whiteColor: #ffffff;
	--blackColor: #000000;
}
.slideIcon{
	text-align: center;
	position: fixed;
	width: 85px;
	height: 100%;
	margin-top: 55px;
	background: var(--secondaryColor);
	padding: 0px 20px;
	font-size: 24px;
	transition: 0.5s;
}
.slideIcon a{
	display: block;
	text-decoration: none;
	color: var(--darkTextColor);
	margin: 5px 0;
	padding: 5px 7px;
	border-radius: 5px;
}
.slideIcon a:hover{
	background: #ffffff;
	color: var(--primaryColor);
}
@keyframes onOff {
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
}
@media(max-width: 540px){
	.slideIcon{
		display: none;
		margin-top: 53px;
	}
}
