:root{
	--primaryColor: #418dd9;
	--secondaryColor: #e5e5e5;
	--darkTextColor:#4c4c4c;
	--textColor:#797979;
	--whiteColor: #ffffff;
	--blackColor: #000000;
}
.slider{
	width: 0px;
	height: 100%;
	position: fixed;
	overflow-x: hidden;
	transition: 0.5s;
	top: 55px;
	left: 0;
	background: var(--secondaryColor);
	font-size: 24px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.slider > span{
	display: none;
	margin: 5px 0;
	padding: 0px 15px;
	border-radius: 5px;
	font-size: 32px;
	float: right;
	margin-right: 20px;
}
.slider > span:hover{
	background: #ffffff;
	color: var(--primaryColor);
}
.slider ul{
	list-style: none;
	margin: 0;
	padding: 0 20px;
}
.slider ul li{
	position: relative;
}
.slider ul li a{
	display: block;
	text-decoration: none;
	color: var(--darkTextColor);
	margin: 5px 0;
	padding: 5px 11px;
	border-radius: 5px;
}
.slider ul li a:hover{
	background: #ffffff;
	color: var(--primaryColor);
}
.slider ul li a span{
	position: absolute;
	left: 30px;
	padding-left: 30px;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
}
@media(max-width: 540px){
	.slider{
		top: 0;
		box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
		z-index: 2;
	}
	.slider > span{
		display: block;
	}
	.slider ul{
		margin-top: 60px;
	}
}
@media(max-height: 540px){
}