.softwareSkills{
    background: var(--whiteColor);
    overflow: hidden;
}
.softwareSkillsTitle, .softwareLogos{
    padding: 70px 0;
}
.softwareSkillsTitle{
    background: var(--secondaryBgColor);
    border-right: 5px solid var(--primaryColor);
    border-radius: 20px;
    text-align: right;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primaryColor);
}
.softwareLogos{
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.softwareLogos img{
    height: 110px;
    margin-right: 50px;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
    .softwareSkillsTitle{
        text-align: center;
        padding:0;
        padding-top: 70px;
        padding-bottom: 30px;
        border-right: 0;
        border-bottom: 5px solid var(--primaryColor);
    }
}
@media(max-width: 768px){
    .softwareLogos{
        padding: 30px 0px;
        display: block;
    }
    .softwareLogos .logoImg{
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .softwareLogos img{
        margin-right: 0px;
    }
}
@media(max-width: 540px){
    
}
@media(max-height: 540px){
}
