:root {
    --primaryColor: #414af2;
    --secondaryColor: #07080c;
    --bgColor: #07080c;
    --secondaryBgColor: #0c0d11;
    --footerColor: #1b1f3a;

    --hoverColor: #414af2;

    --textColorWhite: #ffffff;
    --textColorBlack: #000000;

    --whiteColor: #ffffff;
    --blackColor: #000000;
    --lightGray: #f2f2f2;

    --primaryTrans50: #414af250;
}
@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins-Regular.ttf);
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-padding: 100px;
}
body {
    margin: 0;
    padding: 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    padding: 0 150px;
}
a {
    text-decoration: none;
}
.highlighted_color {
    color: var(--primaryColor);
}
@media (max-width: 1200px) {
    html {
        scroll-padding: 40px;
    }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 540px) {
    .container {
        padding: 0 30px;
    }
}
